/.idea/
*.swp
JLCParts/*
/src/config.txt
/Macropad5x5-backups
/JLCParts/
/Macropad5x5-backups/
/~Macropad5x5.kicad_pcb.lck
/~Macropad5x5.kicad_sch.lck
/#auto_saved_files#
/_autosave-Macropad5x5.kicad_sch
